[*]
insert_final_newline = true

[*.json]
charset = utf-8
indent_style = tab
indent_size = 3
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
insert_final_newline = true
